<style>
    body {
        background-color: #f7f7f7;
    }

    header .logo {
        font-size: 24px;
        font-weight: bold;
    }

    footer {
        background-color: #f3f3f3;
        margin-top: 20px;
    }

    .card {
        padding: 20px;
    }

    .card-title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .quantity-selector select {
        text-align: center;
    }

    .btn-dark {
        background-color: #333;
        color: #fff;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #393c49b0;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<!-- Shopping Cart Section -->
<main class="container my-5">
    <h2 class="text-center mb-5">CHECK CART</h2>
    <a href="/cart" class="text-secondary d-block mb-3">GO BACK</a>
    <form action="/payment" method="post">
        <div class="row">
            <!-- Cart Items -->
            <div class="col-md-8">
                <table>
                    <tr>
                        <th>name</th>
                        <th>price</th>
                        <th>image</th>
                        <th>quantity</th>
                    </tr>
                    <% for( var i=0; i < cart.length; i++) { %>
                        <tr>
                            <td>
                                <%= cart[i].name %>
                            </td>
                            <td>
                                <%= cart[i].price %>
                            </td>
                            <td><img src="<%= cart[i].image %>" alt="error" style="height: 100px;"></td>
                            <td>
                                <%= cart[i].quantity %>
                            </td>
                        </tr>
                        <input type="text" name="productIds" value="<%= cart[i]._id %>" style="display: none;">
                        <input type="text" name="quantities" value="<%= cart[i].quantity %>" style="display: none;">
                    <% } %>

                </table>
            </div>

            <!-- Subtotal Section -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">SUBTOTAL (<%= cart.length %> ITEM)</h5>
                        <p class="h4">$ <%= totals %>
                        </p>
                        <input type="text" name="totals" value="<%= totals %>" style="display: none;">
                        <button type="submit" class="btn btn-dark btn-block mt-3">buy</button>
                    </div>
                </div>
            </div>
            <input type="text" name="userId" value="<%= userId %>" style="display: none;">
        </div>
    </form>
</main>