<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-6 col-12 align-self-center">
                <h3 class="page-title mb-0 p-0">Update product</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin/product/getAllProducts">product</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Update product</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-6 col-4 align-self-center">
                <div class="text-end upgrade-btn">
                    <a href="#" class="btn btn-danger d-none d-md-inline-block text-white" target="_blank">Upgrade to
                        Pro</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">

            <!-- body -->
            <div class="col-lg-2 col-xlg-3 col-md-5">

            </div>
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-body">
                        <form action="/admin/product/updateProduct/<%=product._id%>" method="post"
                            class="form-horizontal form-material mx-2">
                            <div class="form-group">
                                <label class="col-md-12 mb-0">Name</label>
                                <div class="col-md-12">
                                    <input name="name" type="text" class="form-control ps-0 form-control-line" value="<%=product.name%>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 mb-0">Price</label>
                                <div class="col-md-12">
                                    <input name="price" type="number" class="form-control ps-0 form-control-line" value="<%=product.price%>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 mb-0">Quantity</label>
                                <div class="col-md-12">
                                    <input name="quantity" type="number" class="form-control ps-0 form-control-line" value="<%=product.quantity%>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 mb-0">Image</label>
                                <div class="col-md-12">
                                    <input name="image" type="string" class="form-control ps-0 form-control-line" value="<%=product.image%>">
                                </div>
                                <img src="<%=product.image%>" alt="" style="height: 100px;">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12">Select actived</label>
                                <div class="col-sm-12 border-bottom">
                                    <select name="isActived"
                                        class="form-select shadow-none ps-0 border-0 form-control-line">
                                        <option <%=product.isActived ? 'selected' : '' %>>True</option>
                                        <option <%=!product.isActived ? 'selected' : '' %>>False</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12">Select category name</label>
                                <div class="col-sm-12 border-bottom">
                                    <select name="categoryName"
                                        class="form-select shadow-none ps-0 border-0 form-control-line">
                                        <% for (var i=0; i < categories.length; i++) { %>
                                            <option value="<%= categories[i].name %>" <%=product.categoryId.name===categories[i].name ? 'selected' : '' %>>
                                                <%= categories[i].name %>
                                            </option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 mb-0">Description</label>
                                <div class="col-md-12">
                                    <textarea name="description" rows="5"
                                        class="form-control ps-0 form-control-line"><%=product.description%></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12 d-flex">
                                    <button class="btn btn-success mx-auto mx-md-0 text-white">update category</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
