<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-6 col-12 align-self-center">
                <h3 class="page-title mb-0 p-0">Update import</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin/import/getAllImports">import</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Update import</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-6 col-4 align-self-center">
                <div class="text-end upgrade-btn">
                    <a href="#" class="btn btn-danger d-none d-md-inline-block text-white" target="_blank">Upgrade to
                        Pro</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">

            <!-- body -->
            <div class="col-lg-2 col-xlg-3 col-md-5">

            </div>
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-body">
                        <form action="/admin/import/updateImport/<%=inventoryImport._id%>" method="post"
                            class="form-horizontal form-material mx-2">
                            <div class="form-group">
                                <label class="col-sm-12">Select status</label>
                                <div class="col-sm-12 border-bottom">
                                    <select name="status"
                                        class="form-select shadow-none ps-0 border-0 form-control-line">
                                        <option <%=inventoryImport.status=="Pending"?'selected':''%>>Pending</option>
                                        <option <%=inventoryImport.status=="Completed"?'selected':''%>>Completed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12">Select ispaid</label>
                                <div class="col-sm-12 border-bottom">
                                    <select name="isPaid"
                                        class="form-select shadow-none ps-0 border-0 form-control-line">
                                        <option <%=inventoryImport.isPaid?'selected':''%>>True</option>
                                        <option <%=!inventoryImport.isPaid?'selected':''%>>False</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12">Select provider name</label>
                                <div class="col-sm-12 border-bottom">
                                    <select name="providerName"
                                        class="form-select shadow-none ps-0 border-0 form-control-line">
                                        <% for(var i=0; i < providers.length; i++) { %>
                                            <option value="<%=providers[i].name%>" <%=inventoryImport.providerId.name==providers[i].name?'selected':''%>>
                                                <%= providers[i].name %>
                                            </option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12 d-flex">
                                    <button class="btn btn-success mx-auto mx-md-0 text-white">Update import</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>